In [14]:
import pandas as pd
from sqlalchemy import create_engine, inspect

### Extract CSVs into DataFrames

In [15]:
olympic_file = "../Resources/athlete_events.csv"
olympic_df = pd.read_csv(olympic_file)
olympic_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
country_file = "../Resources/noc_regions.csv"
country_df = pd.read_csv(country_file)
country_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Transform Olympic DataFrame for Olympic_Data - TODO

In [18]:
# Create a filtered dataframe from specific columns for the Olympic_Data Table
olympic_cols = ["ID", "Year", "Season", "Sport", "Event", "Medal"]
olympic_transformed= olympic_df[olympic_cols].copy()

# Rename the column headers
olympic_transformed = olympic_transformed.rename(columns={"ID": "athlete_id",
                                                          "Year": "year",
                                                          "Season": "season",
                                                          "Sport": "sport",
                                                          "Event": "event",
                                                          "Medal": "medal"})

#Replace medal NaN to 

# Set the index
#olympic_transformed.create_index()
#olympic_transformed.set_index("athlete_id", inplace=True)

olympic_transformed.head()

,athlete_id,year,season,sport,event,medal
0,1,1992,Summer,Basketball,Basketball Men's Basketball,NaN
1,2,2012,Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,3,1920,Summer,Football,Football Men's Football,NaN
3,4,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,NaN

### Transform Olympic DataFrame for Athlete_Data - TODO

In [ ]:
# Create a filtered dataframe from specific columns for the Athlete_Data Table
athlete_cols = ["ID", "Sex", "Age", "NOC"]
athlete_transformed= athlete_df[olympic_cols].copy()

# Rename the column headers
athlete_transformed = athlete_transformed.rename(columns={"ID": "athlete_id",
                                                          "Sex": "sex",
                                                          "Age": "age"})

# Clean the data by dropping duplicates and setting the index
athlete_transformed.drop_duplicates("athlete_id", inplace=True)
athlete_transformed.set_index("athlete_id", inplace=True)

athlete_transformed.head()

### Transform country DataFrame - TODO

In [ ]:
country_df = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
country_transformed = county_df[county_cols].copy()

# Rename the column headers
country_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
country_transformed.set_index("id", inplace=True)

country_transformed.head()

### Replace NOC in Olympic Dataset with Country - TODO

### Create database connection

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'Olympic_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

### Load DataFrames into database

In [ ]:
olympic_country_transformed.to_sql(name='Olympic_Data', con=engine, if_exists='append', index=True)