In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect

### Extract CSVs into DataFrames

In [ ]:
olympic_file = "../Resources/athlete_events.csv"
olympic_df = pd.read_csv(olympic_file)
olympic_df.head()

In [ ]:
country_file = "../Resources/noc_regions.csv"
country_df = pd.read_csv(country_file)
country_df.head()

### Transform Olympic DataFrame - TODO

In [ ]:
# Create a filtered dataframe from specific columns
olympic_df = ["License Serial Number", "Premises Name", "County ID Code"]
olympic_transformed= premise_df[premise_cols].copy()

# Rename the column headers
olympic_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
olympic_transformed.drop_duplicates("id", inplace=True)
olympic_transformed.set_index("id", inplace=True)

olympic_transformed.head()

### Transform country DataFrame - TODO

In [ ]:
country_df = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
country_transformed = county_df[county_cols].copy()

# Rename the column headers
country_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
country_transformed.set_index("id", inplace=True)

country_transformed.head()

### Replace NOC in Olympic Dataset with Country - TODO

### Create database connection

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'Olympic_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

### Load DataFrames into database

In [ ]:
olympic_country_transformed.to_sql(name='Olympic_Data', con=engine, if_exists='append', index=True)